<form class="form-horizontal" padding="10px">
    <fieldset style="padding:10px">
        <div class="form-group" >
            <label for="inputEmail" class="col-lg-2 control-label">Email</label>
            <div class="col-lg-10">
                <input type="email" class="form-control" ng-model="user.email" id="inputEmail" placeholder="Email">
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail" class="col-lg-2 control-label">Password</label>
            <div class="col-lg-10">
                <input type="password" class="form-control"  ng-model="user.password"  id="inputEmail" placeholder="Password">
            </div>
        </div>

        <div class="form-group">
        <center>
                <button class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-primary" ng-click="login()">Submit</button>
            </div>
        </div>
    </fieldset>
</form>
