<html>
<head>
<link rel="stylesheet" href="../src/scss/style.scss">
<link rel="stylesheet" href="../dist/vendor/bootstrap-material-design/dist/css/material.css" />
</head>
<div class="menu-window">
	<h1 class="align">Next Break ETA</h1>
	<h2 class="align" > 4:20 PM | xx minutes yy seconds</h2>

	<hr style="padding:10px">
	<span class= "bottom-bar">
		<a class="btn btn-info">Open</a>
	</span>
	<span class="bottom-bar right">

		<a href="javascript:void(0)" class="btn btn-primary btn-fab btn-raised mdi-action-grade" style="height:1px; width:1px;"></a>

	</span>
	
</div>
</html>
