<html ng-app="HealthyHacker">
<head>
<link rel="stylesheet" href="../dist/vendor/bootstrap-material-design/dist/css/material.css" />
</head>

<div style="text-align: center;padding: 0; position: relative;" ng-controller="MenuBarController">
	<p style="font-size: 18px; color: rgba(0,0,0,0.4); margin-top: 15px">Estimated Time Until Break</p>
	<h1>{{ breakTime | date: 'h:mm a' }} | {{minutesLeft}} minutes</h1>
	<div class="row" style="">
		<div class="col-sm-6" style="text-align: left;">
			<a ng-click="openMainWindow()" class="btn btn-flat btn-info btn-sm">Open app</a>
		</div>
		<div class="col-sm-6" style="text-align: right; margin-top: -19px">
			<a onclick="openMain()" class="btn btn-flat btn-primary btn-sm">Start Break</a>
		</div>
	</div>
</div>

	<script src="../dist/vendor/angular/angular.js"></script>
	<script src="../dist/app/menuApp.js"></script>
</html>
