<html>
<head>
    <title>Healthy Hacker</title>
    <link rel="stylesheet" href="../dist/vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../dist/vendor/font-awesome/css/font-awesome.min.css">

    <!-- bower:css -->
    <link rel="stylesheet" href="../dist/vendor/angular-chart.js/dist/angular-chart.css" />
    <link rel="stylesheet" href="../dist/vendor/bootstrap-material-design/dist/css/material.css" />
    <link rel="stylesheet" href="../dist/vendor/bootstrap-material-design/dist/css/ripples.css" />
    <!-- endbower -->

    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="../dist/css/style.css">

    <script src="../dist/vendor/angular-bootstrap/ui-bootstrap-tpls.js"></script>

  </head>
<div class="col-sm-12">
<h1 class="text-center"> {{activity}}  for </h1>
<h2 class="text-center"> {{time}} </h2>

</div>

<div>


<center><textarea type="text" ng-model="thot" style="width:80%;"> </textarea></center>
</div>

<a href="javascript:void(0)" class="btn btn-info" style="float:right; margin-right:100px" ng-click="saveThot()">Info</a>




</div>

</html>