<div id="wrapper">

	<!-- Sidebar -->
	<div id="sidebar-wrapper">
		<ul class="sidebar-nav">
			<li class="sidebar-back"><a ui-sref="main.home"><i class="mdi-navigation-arrow-back"></i> Back</a></li>
			<li class="sidebar-brand">
				Mah App, yo
			</li>
			<li ng-class="{active: $state.includes('main.apps')}">
				<a ui-sref="main.home">Home</a>
			</li>
			<li ng-class="{active: $state.includes('main.account')}">
				<a ui-sref="main.account">My Team</a>
			</li>
			<li ng-class="{active: $state.includes('main.settings')}">
				<a ui-sref="main.settings"><i class="fa fa-cog fa-lg"></i> Settings</a>
			</li>
			<li ng-class="{active: $state.includes('main.settings')}">
				<a ui-sref="main.settings"><i class="fa fa-cog fa-lg"></i> Current Hackathon</a>
			</li>
		</ul>
	</div>

	<!-- Page Content -->
	<div id="page-content-wrapper">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div ui-view></div>
				</div>
			</div>
		</div>
	</div>
</div>
