<h1>Settings</h1>

<table class="table table-striped table-hover ">
    <tbody>
        <tr>
            <td>Name:</td>
            <td>FirstName LastName</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>first.lastname@example.com</td>
        </tr>
        <tr>
            <td>Github URL:</td>
            <td>https://github.com/idappthat</td>
        </tr>
        <tr>
            <td>

            </td>
            <td>

            </td>
        </tr>
    </tbody>
</table>

<div style="text-align:center;">
    <a class="btn btn-default btn-raised btn-icon-fix" href="javascript:void(0)"><i class="fa fa-github fa-2x" style="margin-right:5px; line-height:22px; vertical-align:middle;"></i> Connect to GitHub</a>
    <a class="btn btn-danger btn-raised btn-icon-fix" href="javascript:void(0)"><i class="fa fa-google-plus fa-2x " style="margin-right:5px; line-height:22px; vertical-align:middle"></i> Connect to Google</a>

</div>
