<h1>Dashboard</h1>
<div class="row">
    <div class="col-md-12">
    	<canvas id="line" class="chart chart-line" chart-data="data"
  chart-labels="labels" chart-legend="true" chart-series="series"
  chart-click="onClick">
	</canvas>
    </div>

    <div class="col-md-12">
        <h2>Breaks</h2>
        <hr>
        <div class="list-group" ng-repeat="break in breaks">
		    <div class="list-group-item">
		        <div class="row-action-primary">
		            <i class="mdi-file-folder"></i>
		        </div>
		        <div class="row-content">
		            <div class="least-content">{{ break.time }} ago</div>	
		            <h4 class="list-group-item-heading">{{ break.title }}</h4>
		            <p class="list-group-item-text">{{ break.description }}</p>
		        </div>
		    </div>
		    <div class="list-group-separator"></div>
		</div>

    </div>
</div>
