@import 'base/base';

@import 'includes/nav';
@import 'includes/footer';

$sidebar-width: 200px;
$sidebar-width-collapse: 60px;
$color-background: #eee;
$color-sidebar: #31323A;
$color-sidebar-highlight: #3C3D47;
$color-highlight: #F75163;

html, body {
	width: 100%;
	height: 100%;
}

html {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

body {
	height: 100%;
	padding: 0;
	overflow: auto;
	margin: 0;
	-webkit-overflow-scrolling: touch;
	background: $color-background;
}

.control-label { float:left; }

.well .title > div, h3, p {
	display: inline-block;
	vertical-align: top;
}

.well .title h3 {
	margin: 5px;
}



.circle {
	border-radius: 50%;
}

.circle-letter {
	width: 56px;
	height: 56px;
	background: #ccc;
	text-align: center;
	color: #fff;
	font-size: 26px;
	padding-top: 12px;
	vertical-align: middle;
}

/* SIDE BAR */
#wrapper {
	padding-left: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#wrapper.toggled {
	padding-left: $sidebar-width;
}

#sidebar-wrapper {
	z-index: 1000;
	position: fixed;
	left: $sidebar-width;
	width: 0;
	height: 100%;
	margin-left: -$sidebar-width;
	overflow-y: auto;
	background: $color-sidebar;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.sidebar-collapse #sidebar-wrapper {
	left: $sidebar-width-collapse;
	margin-left: -$sidebar-width-collapse;
}

#wrapper.toggled #sidebar-wrapper {
	width: $sidebar-width;
}

#page-content-wrapper {
	width: 100%;
	position: absolute;
	padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
	position: absolute;
	margin-right: -$sidebar-width;
}

/* Sidebar Styles */

.sidebar-nav {
	position: absolute;
	top: 0;
	width: $sidebar-width;
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar-collapse .sidebar-nav {
	width: $sidebar-width-collapse;
}

.sidebar-nav li {
	text-indent: 20px;
	line-height: 40px;
}

.sidebar-nav li.active {
	//background: #F8F8F8;
}

.sidebar-nav li.active a, .sidebar-nav li.active a:hover {
	color: $color-sidebar-highlight;
}

.sidebar-nav li a {
	display: block;
	text-decoration: none;
	color: #999999;
}

.sidebar-nav li a .fa {
	text-indent: 0;
	margin-right: 10px;
}

.sidebar-nav li a:hover {
	text-decoration: none;
	color: #fff;
	background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
	text-decoration: none;
}

.sidebar-nav .btn {
	margin: 0 15px;
}

.sidebar-nav > .sidebar-back {
	font-size: 18px;
	text-align: left;

	i { margin-top: 3px; width: 24px }

	i:before {
		margin: -18px 0 0 -15px;
		display: block;
		position: absolute;
	}

	a {
		background: $color-sidebar-highlight;
		color: #A7ABC6;
	}

	a:hover {
		background: #18191D;
	}
}

.sidebar-nav > .sidebar-brand {
	height: 65px;
	font-size: 18px;
	line-height: 60px;
	color: #fff;
	background: none;
}

/*@media(min-width:768px) {*/
	#wrapper {
		padding-left: $sidebar-width;
	}

	#wrapper.sidebar-collapse {
		padding-left: $sidebar-width-collapse;
	}

	#wrapper.toggled {
		padding-left: 0;
	}

	#sidebar-wrapper {
		width: $sidebar-width;
	}

	.sidebar-collapse #sidebar-wrapper {
		width: $sidebar-width-collapse;
	}

	#wrapper.toggled #sidebar-wrapper {
		width: 0;
	}

	#page-content-wrapper {
		padding: 20px;
		position: relative;
	}

	#wrapper.toggled #page-content-wrapper {
		position: relative;
		margin-right: 0;
	}
.right{
	float:right;
}

.align{
	text-align:center;
}

.menu-window{
	padding:10px;
}
